@keyframes fadeout {
   70% { font-size: 30px;}
  100% { font-size: 0px;}
}
.clap {
  position: absolute;
  top: 200px;
  animation: fadeout 1.5s ease-in-out infinite alternate;
}

#hand {
  font-size: 100px;
  position: absolute;
  top: 200px;
  left: 120px;
}
