@keyframes horizontal {
    0% { font-size: 0px; }
    20% { font-size: 100px;}
  100% { font-size: 0px; }
}
.clap {
  position: absolute;
  animation: horizontal 1s ease-in-out infinite alternate;
}

body {
    width: 300px;
    height: 600px;
}