body {
  margin: 0;
}

text#emoji {
    font-size: 20px;
    user-select: none;
  }

text#count {
  font-size: 20px;
  font-weight: bold;
  fill: #000;
  stroke: #FFF;
  stroke-width: 1;
  stroke-linejoin: round;
  user-select: none;
}

div#menu > * + * {
  margin-left: 40px;
}

div#setting  > * + * {
  margin-top: 20px;
}

div#setting, div#menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

div#input {
  text-align: center;
}

div#input  > * + * {
  margin-top: 20px;
}

div#created  > * + * {
  margin: 0px;
}

.createButton {
  right: 10px;
}

.column-name {
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  margin-top: 20px;
  width: 150px;
}

.column-data {
  display: inline-block;
  width: 200px;
}

div#created {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

#createButton, #settingButton {
  height: 50px;
  width: 200px;
}

#eventId {
  text-align: center;
}

#eventCodeTitle {
  font-weight: bold;
  margin: 10px
}

#eventSettingButton {
  margin-left: 40px;
}

input#emoji {
  font-size: 80px;
  width: 100px;
  text-align: center;
}

span#url {
  width: 400px;
}